{% extends 'includes/base.html' %}

{% block content %}
    <section>

        <h1>{% block form_title %}Заголовок{% endblock %}</h1>

        <div>
            <form action="" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div>
                        {{ field.errors }}
                        <label for="{{ field.id_for_label }}">{{ field.label}}</label>
                        {{ field }}
                    </div>
                {% endfor %}
                {% block buttons %}
                    <button type="submit">Отправить</button>
                {% endblock %}
            </form>
        </div>
    </section>
{% endblock %}